@charset "utf-8";

.auth{
	background: #fff;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .2);
	-ms-box-shadow: 0 0 1px rgba(0,0,0, .2);
	-o-box-shadow: 0 0 1px rgba(0,0,0, .2);
	box-shadow: 0 0 1px rgba(0,0,0, .2);
	margin: auto;
	margin-top: 10%;
	max-width: 350px;
}
.auth .auth-footer .brand {
	border-top: 1px solid #ddd;
	color: #996;
	font-size: 10px;
	padding: 7px 15px 8px 15px;
}
.auth .auth-footer .brand strong {
	color: #d9534f;
	font-size: 12px;
}
.auth form {
	padding: 25px 15px 5px 15px;
}
.auth form [class*="mdi mdi-"] {
	font-size: 18px;
	line-height: .1;
	position: relative;
	bottom: -2px;
}