@charset "utf-8";

form .form-group {
	margin: 0 0 5px 0;
	overflow: hidden;
}

form .form-group .btn.btn-right {
	float: right;
}
form .form-group{
	margin:0 0 8px 0;
}
form p.error,form p.warning,form p.info{
	border-left: 3px solid transparent;
	display:none;
	font-size:12px;
	margin: 0 0 5px 0;
	padding: 3px 5px 3px 5px;
	text-align: left;
}

form p [class*="mdi mdi-"],form p [class*="glyphicon glyphicon-"]{
	font-size: 16px; 
	line-height: .1; 
	position: relative; 
	bottom: -2px;
}
form p.error{
	border-left-color: #d9534f;
	background: rgba(217,83,79, .09);color: #a94442;
}
form p.warning{
	border-left-color: #f0ad4e;
	background: rgba(240,173,78, .09);color: #f0ad4e;
}
form p.info{
	border-left-color: #5bc0de;
	background: rgba(91,192,222, .09);color: #5bc0de;
}

.alert {
	border-radius: 0 0 0 0;
	display: none;
	font-size: 13px;
	padding: 8px 12px 8px 12px;
}

.alert [class*="mdi mdi"] {
	font-size: 18px;
	line-height: .1;
	position: relative;
	bottom: -2px;
}

.alert.alert-article{
	padding: 0 0 0 0;
}
.alert.alert-article .alert-header{
	border-bottom: 1px solid transparent;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 12px 7px 12px;
}
.alert.alert-article .alert-body{
	padding: 8px 0 4px 0;
}
.alert.alert-article .alert-body p {
	font-size: 12px;
	margin: 0 12px 2px 12px;
}
.alert.alert-article.alert-success .alert-header{
	border-bottom-color: #d6e9c6;
}
.alert.alert-article.alert-info .alert-header{
	border-bottom-color: #bce8f1;
}
.alert.alert-article.alert-warning .alert-header{
	border-bottom-color: #faebcc;
}
.alert.alert-article.alert-danger .alert-header{
	border-bottom-color: #ebccd1;
}