@charset "utf-8";

body {
	background: #f6f6f6;
	padding-top: 10%;
	color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
}

.panel-footer .copyright {
	color: #996;
	font-size: 10px;        	
}

/* Form
 *----------*/

form .form-group{margin:0 0 8px 0;}
form p.error,form p.warning,form p.info{display:none;font-size:12px;margin: 0 0 5px 0;padding: 3px 5px 3px 5px;text-align: left;}
form p [class*="mdi mdi-"],form p [class*="glyphicon glyphicon-"]{font-size: 16px; line-height: .1; position: relative; bottom: -2px;}
form p.error{background: rgba(217,83,79, .07);color: #a94442;}
form p.warning{background: rgba(240,173,78, .07);color: #f0ad4e;}
form p.info{background: rgba(91,192,222, .07);color: #5bc0de;}
form .btn.btn-right,
form .btn-group.btn-right{float: right !important;}

form textarea.form-control {
	border: dashed 5px #ddd !important;
	resize: none;
}
form textarea.form-control:focus{
	box-shadow: none;
}


.alert {
	border-radius: 0 0 0 0;
	display: none;
	padding: 8px 12px 8px 12px;
}
.alert [class*="mdi mdi-"] {
	font-size: 18px;
	line-height: .1;
	position: relative;
	bottom: -2px;
}